* {
  font-size: 10px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.container {
  margin-top: 100px;
}
.imgCard {
  padding-top: 30px;
}
#loginPlaceHolder {
  padding-top: 55px;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
