# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
client/node_modules
client/package-lock.json

package-lock.json
node_modules

/.pnp
.pnp.js

#Config File
.env

# testing
/coverage

# production
client/build
